@media (min-width:600px) and (max-width: 900px) {
    body {
        background-image: none;
        background-position: none;
        background-size: none;
        background-color: var(--gradient2);
    }

    .container {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .hero-tablet { 
        display: block; 
        width: 100%; 
        object-fit: cover;
        object-position: 50% 15%;
        height: 540px;
    }

    .logo-img {
        padding: 32px 80px;
        width: 260px;
    }

    .container-info {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 64px 161.5px 0;
    }

    .landing-page-info {
        text-align: center;
        margin: 0;
        gap: 32px;
    }
    
    .landing-page-info .subtext-info { 
        line-height: 175%;
        padding-right: 0;
    }

    .container-form {
        width: 100%;
    }

    .container-form .error-icon {
        right: 25%;
    }

    .attribution { 
        margin: 62.5px 0;
        width: 100%;
    }
}

@media (min-width:350px) and (max-width: 599px) {
    body {
        background-image: none;
        background-position: none;
        background-size: none;
        background-color: var(--gradient2);
    }

    .container {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .hero-tablet { 
        display: block; 
        width: 100%; 
        object-fit: cover;
        object-position: 50% 15%;
        height: 540px;
    }

    .logo-img {
        padding: 32px 80px;
        width: 260px;
    }

    .container-info {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 64px 161.5px 0;
    }

    .landing-page-info {
        text-align: center;
        margin: 0;
        gap: 32px;
    }
    
    .landing-page-info .subtext-info { 
        line-height: 175%;
        padding-right: 0;
    }

    .container-form {
        width: 100%;
    }

    .container-form .error-icon {
        right: 25%;
    }

    .attribution { 
        margin: 62.5px 0;
        width: 100%;
    }
}