@media (max-width: 900px) {

    body {
        width: 100vw;
        height: 100vh;
        font-size: auto;
        background-image: none;
        background-repeat: none;
        background-position: none;
        background-size: none;
    }

    .container {
        margin: 32px 0 62.5px 0;
        position: relative;
    }

    .logo-img {
        position: absolute;
        left: 80px;
    }


}