body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    background-image: url(../../images/bg-pattern-desktop.svg), url(../../images/hero-desktop.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 55%, 45%; 
    width: 100vw; 
    height: 100vh;
}

.container {
    display: flex;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 220px 138.5px;
}

.landing-page-info {
    display: flex;
    flex-direction: column;
    margin: 136px 0 32px;
    gap: 32px;
}

.landing-page-info .header-info {
    font-size: 64px;
    letter-spacing: 17.5px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--pink400);
}

.landing-page-info .header-info .comingsoon {
    font-weight: 500;
    color: var(--gray900);
    line-height: 110%;
}

.landing-page-info .subtext-info {
    font-size: 16px; 
    line-height: 215%;
    letter-spacing: 0px;
    color: var(--pink400);
}

.container-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--pink400);
    border-radius: 999px;
    padding: 11px 32px;
    width: 95%;
}

.container-form .form-input {
    font-size: 16px;
    line-height: 215%;
    letter-spacing: 0;
    color: var(--pink400);
    width: 100%;
    border: 0;
}

.error {
    display: none;
}

.attribution { 
    margin-top: 100px;
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}