body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    background-image: url(../../images/bg-pattern-desktop.svg), url(../../images/hero-desktop.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 55%, 45%; 
    width: 100vw; 
    height: 100vh;
}

.container {
    display: flex;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 220px 138.5px;
}

.landing-page-info {
    display: flex;
    flex-direction: column;
    margin: 136px 0 32px;
    gap: 32px;
}

.landing-page-info .header-info {
    font-size: 64px;
    letter-spacing: 17.5px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--pink400);
}

.landing-page-info .header-info .comingsoon {
    font-weight: 500;
    color: var(--gray900);
    line-height: 110%;
}

.landing-page-info .subtext-info {
    font-size: 16px; 
    line-height: 215%;
    letter-spacing: 0px;
    color: var(--pink400);
    padding-right: 150px;
}

.container-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--pink400);
    border-radius: 999px;
    padding: 11px 32px;
    width: 75%;
    position: relative;
}

.container-form .form-input {
    font-size: 16px;
    line-height: 215%;
    color: var(--gray900);
    width: 100%;
    border: 0;
}

.container-form .form-input::placeholder {
    color: var(--pink400);
}

.container-form .form-input:focus {
    outline: 1px solid var(--white);
}

.container-form .form-btn {
    padding: 16px 40px;
    border: 0;
    border-radius: 28px;
    position: absolute;
    right: -1.5px;
    top: -1.5px;
    height: 106%;
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.4);
    background: var(--gradient1);
    cursor: pointer;
}

.container-form .form-btn:hover {
    background: var(--gradient4);
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.5);
}

.container-form .form-input:valid + .form-btn {
    background: var(--gradient4);
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.5);
}

.container-form .error-icon {
    position: absolute;
    right: 25%;
}

.error-msg {
    color: var(--red400);
    padding: 10px 32px;
    font-size: 13px;
    font-weight: 400;
    line-height: 215%;
    position: relative;
}

.error-icon, .error-msg {
    display: none;
}

.container-form.error .error-icon { 
    display: inline; 
}

.container-form.error + .error-msg { 
    display: block; 
}

.container-form.error { 
    border: 2px solid var(--red400); 
}

.attribution { 
    margin-top: 100px;
    font-size: 0.6875rem;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}